.NavLink {
    color: #ffc53e;
    margin-top: 10px;
    padding: 10px;
    float: right;
    font-family: fantasy;
    font-size: xx-large;
}

header {
    background-color: rgb(194, 243, 253);
    height: 10vh;
}

.Webname {
    border: solid;
    font-size: xx-large;
    float: left;
    padding: 2px;
    margin: 10px;
}